html,body {
    overflow: auto;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    color: black;
    background-color: rgb(255, 255, 255);
    /* position: relative; */
    
}

#main {
    /* position: fixed; */
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

#app {
    width: 100%;
    height: 100%;
}

/* Default CSS elements */

/* .widthsite{
    width: 80%;
} */

.buttonDefault{
    background-color: white;
    color: black;
    border: 1px solid #6096B4;
    border-radius: 4px;
    height: 30px;
    width: fit-content;
    margin: 3px;
    cursor: pointer;
}

.buttonDefault:hover{
    background-color:rgb(231, 227, 227);
}


/* Log-in page */
.form{
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
    position: fixed;
    padding: 10px;
    width: 400px;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -200px;
}

#formButton{
    width: 90%;
    height: 30px;
    margin: 10px;
    align-items: center;
}

#registerNewUserButton{
    border-style: none;
    background-color: white;
    color: black;
    text-decoration-color: black;
    
}

#registerNewUserButton:hover{
    text-decoration: underline;
    color: blue;
    text-decoration-color: blue;
}

.loginInputField{
    width: 90%;
    height: 30px;
    margin: 10px;
    align-items: center;
    box-sizing: border-box;
}

.signInText{
    text-align: center;
}

/* Search bar */
.searchBar {
    background-color: #6096B4;
    color: black;
}

.searchField{
    height: 25px;
    border-style: none;
    border-radius: 4px;
    width: 300px;
    font-size: 14;
}



.logInButton {
    background-color: white;
    color: black;
    position: absolute;
    left: 95%;
    top: 50%;
    cursor: pointer;

}


/* Header */
.header{
    height: 50px;
    background-color: #6096B4;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #6096B4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 30px;

}

.nameInHeader{
    color: white;
    cursor: pointer;
}

.headline {
    text-align: center;
    margin-bottom: 30px;
}

.logInButtonDiv {
    cursor: pointer;
}

/* BookButton class (should probably change name and/or structure soon) */
.book{
    cursor: pointer;
    padding-left: 20px;
    padding: 5px;
    height: 250px;
    width: 160px;
    height: 240px;
    margin: 20px;

    transition: box-shadow 0.15s;
}

.booksFrontpage{
    margin: auto;
    margin-top: 10px;
}

.widthsite{
    margin: auto;
}

.book_grid {
    display: grid ;
    grid-template-columns: 220px 220px 220px 220px 220px 220px 220px 220px 220px 220px;
    grid-row: 1;
    overflow-x: scroll;
    row-gap: 10px;
    width: 80%; 
    margin: auto; 
    margin-bottom: 50px;
}

.front-book {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    margin: 10px;
    background-color: #ffffff;
    cursor: pointer;
}

.categoryFrontpage{
    /* margin-left: 25px; */
    text-align: center;
    align-items: center;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.underlineFrontpage{
    width: 80%;
}



.front-book h2 {
    font-size: 15px;
    margin: 1px 0;
    padding-top: 10px;
    text-align: center;
}

.front-book p {
    font-size: 10px;
    text-align: center;

}

.front-book img {
    /* max-width: 80%; */
    padding-top: 10px;
    margin-bottom: 1px;
}



.featured_today_header {
    font-size: 20px;
    font-weight: bold;
    padding-left: 20px;
}

/* Book site */

.bookMain{
    display: grid;
    grid-template-columns: 300px auto;
    width: 60%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    background-color: rgb(245, 245, 245);
    border-radius: 2%;
    border-color: rgb(245, 245, 245);
    
}

.bookImage{
    width: 50%;
}

.bookCover{
    width: 250px;
} 
.bookInformation{
    width: 100%;
    padding-left: 20px;
    
}

#authorAndYear{
    font-size: smaller;
}


/* Search Results Pages */

.search-results {
    content: "";
    width: 60%;
    height: 30%;
    margin: 0 auto 30px;
}

.search-results p {
    font-size: 24px;
    color: #444444;
    text-align: center;
    margin-top: 50px;
}

.search-results-page {
    content: "";
    margin: 0 auto 30px;
    display: grid;
}

.book-search-container {
    display: grid;
    width: 60%;
    grid-template-columns: 25% 25% 25% 25%;
    gap: 20px;
    justify-content: center;
    margin: auto;
}

.searchPage{
    margin: auto;
}

.search-book {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    margin: 10px;
    padding: px;
    background-color: #ffffff;
    cursor: pointer;
}

.search-book h2 {
    font-size: 15px;
    margin: 1px 0;
    padding-top: 10px;
    text-align: center;
}

.search-book p {
    font-size: 10px;
    text-align: center;

}

.search-book img {
    /* max-width: 80%; */
    padding-top: 10px;
    margin-bottom: 1px;
}



.stars{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    width: 80px;
}


/* .frontImageContainer{
    background-image: url(https://img.freepik.com/free-photo/books-ledge_23-2147711744.jpg?w=2000&t=st=1678197140~exp=1678197740~hmac=024c46a01a68889f501bd0e3742d9221882b46d01633fc7318536c4f07345b7b);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
    vertical-align: center;
    color: white;
    height: 300px;
    backdrop-filter: blur(3px); 
    margin-top: 0;
} */

/* .frontImageContainer h1{
    margin: 0;
    padding-top: 50px;
    color: #444444;
} */

.createAdminUser{
    
    margin: auto;
    width: 60%;
}

.createAdmin{
    width: 60%;
    display: grid;
    margin: auto;
    background-color: rgb(245, 245, 245);
    border-radius: 2%;
    border-color: rgb(245, 245, 245); 
    padding: 30px;
}

.logoutButton{
    display: flex;
    justify-content: flex-end;
    padding-right: 12px;


}

.newBookRegistration{
    display: grid ;
    row-gap: 10px;
    width: 50%; 
    margin: auto; 
    padding: 30px;
    margin-bottom: 100px; 
    background-color: #BDCDD6;
    border-radius: 5px;
}

.newBookRegistration h3{
    margin-top: 0;
}

.newBookRegistration p{
    margin: 0;

}

.descriptionField{
    overflow: hidden;
    min-height: 50px;
    max-height: 300px;
    overflow-y: scroll;

}

.addBookButton{
    margin-top: 10px;
    background-color: #6096B4;
    color: black;
    border: 1px solid #6096B4;
    border-radius: 4px;
    height: 40px;
    width: 100%;
    cursor: pointer;
}
.addBookButton:hover{
    background-color: white;
}


/* .newBookRegistration{
    width: 60%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    background-color: rgb(245, 245, 245);
    border-radius: 2%;
    border-color: rgb(245, 245, 245);
} */

.newBookRegistration form{
    margin: 0px;
}

.myInformationBox{
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px ;
    width: 75%;
    background-color: #BDCDD6 ;
    /* color: white; */
    padding: 30px;
    border-radius: 10px;
}


.book_grid_wishlist {
    display: grid ;
    grid-template-columns: repeat(auto-fill, minmax(220px, 220px));
    /* grid-template-columns: 220px 220px 220px 220px 220px 220px 220px 220px 220px 220px; */
    /* grid-row: 1;
    overflow-x: scroll; */
    row-gap: 10px;
    width: 88%; 
    margin: auto; 
    margin-bottom: 50px;
}

.underlineMakeNewBook{
    width: 100%;
    border-color:#BDCDD6;
    border-radius: 0;
}

.newAdminInputField{
    width: 99%;
    margin-top: 10px;
    margin-bottom: 10px;

}
