html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    color: black;
    background-color: #ffffff;
    position: relative;
}

#main {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

#app {
    width: 100%;
    height: 100%;
}

/* Default CSS */

.buttonDefault{
    background-color: white;
    color: black;
    border: 1px solid #6096B4;
    border-radius: 4px;
    height: 30px;
    width: fit-content;
    margin: 3px;
    /*position*/
}

.buttonDefault:hover{
    background-color:#6096B4;
}


/* Log-in page */
.form{
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
    position: fixed;
    padding: 10px;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -150px;
}

#formButton{
    width: 90%;
    height: 30px;
    margin: 10px;
    align-items: center;
}

#registerNewUserButton{
    border-style: none;
    background-color: white;
    color: black;
    text-decoration-color: black;
    
}

#registerNewUserButton:hover{
    text-decoration: underline;
    color: blue;
    text-decoration-color: blue;
}

.loginInputField{
    width: 90%;
    height: 30px;
    margin: 10px;
    align-items: center;
    box-sizing: border-box;
}

.signInText{
    text-align: center;
}


/* Header */

.header{
    height: 50px;
    background-color: white;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #6096B4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 10px;

}



