html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    color: black;
    background-color: rgb(250, 249, 246);
    position: relative;
}

#main {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

#app {
    width: 100%;
    height: 100%;
}

/* Default CSS elements */

.buttonDefault{
    background-color: white;
    color: black;
    border: 1px solid #6096B4;
    border-radius: 4px;
    height: 30px;
    width: fit-content;
    margin: 3px;
    cursor: pointer;
}

.buttonDefault:hover{
    background-color:rgb(231, 227, 227);
}


/* Log-in page */
.form{
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
    position: fixed;
    padding: 10px;
    width: 400px;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -200px;
}

#formButton{
    width: 90%;
    height: 30px;
    margin: 10px;
    align-items: center;
}

#registerNewUserButton{
    border-style: none;
    background-color: rgb(250, 249, 246);
    color: black;
    text-decoration-color: black;
    
}

#registerNewUserButton:hover{
    text-decoration: underline;
    color: blue;
    text-decoration-color: blue;
}

.loginInputField{
    width: 90%;
    height: 30px;
    margin: 10px;
    align-items: center;
    box-sizing: border-box;
}

.signInText{
    text-align: center;
}

/* Search bar */
.searchBar {
    background-color: #6096B4;
    color: black;
}

.searchField{
    height: 25px;
    border-style: none;
    border-radius: 4px;
    width: 300px;
    font-size: 14;
}



.logInButton {
    background-color: white;
    color: black;
    position: absolute;
    left: 95%;
    top: 50%;
    cursor: pointer;

}


/* Header */

.header{
    height: 50px;
    background-color: #6096B4;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #6096B4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 10px;

}

.nameInHeader{
    color: white;
    cursor: pointer;
}

.headline {
    text-align: center;
}

.logInButtonDiv {
    cursor: pointer;
}

/* BookButton class (should probably change name and/or structure soon) */
.book  {
    cursor: pointer;
    padding-left: 20px;
    padding-top: 5px;
    padding-right: 20px;
    padding-bottom: 5px;

    height: auto;
    width: 150px;

    transition: box-shadow 0.15s;
}

.book_grid {
    display: row;
    
}

.featured_today {
    padding-top: 50px;
}

.featured_today_header {
    font-size: 20px;
    font-weight: bold;
    padding-left: 20px;
}

/* Book site */

.bookMain{
    display: grid;
    grid-template-columns: 300px auto;
    width: 60%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    background-color: white;
    border-radius: 5%;
    border-color: white;
    
}

.bookImage{
    width: 100%;
    padding-right: 10px;
}

.bookCover{
    width: 100%;
} 
.bookInformation{
    width: 100%;
    padding-left: 20px;
    
}

#authorAndYear{
    font-size: smaller;
}

.stars{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    width: 80px;
}